page-login {
    ion-content {
        background: none;
        background-image: url('../assets/img/bed-linen-blue.jpg');
        background-size: cover;
        background-position: center;
    }
    form {
        position: absolute;
        width: calc(100% - 32px);
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
    }
}
