<ion-content padding>

  <div class="content-group">

    <img src="assets/img/Bluetooth Logo (White).png">

    <form novalidate [formGroup]="loginForm" (ngSubmit)="login(loginForm)">

        <ion-item >
          <ion-label color="light" fixed>Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="margin-bottom">
          <ion-label color="light" fixed>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

      <button ion-button block color="light-blue" type="submit" [disabled]="loggingIn">
        <span *ngIf="!loggingIn">Login</span>
        <span *ngIf="loggingIn">Logging in...</span>
      </button>

    </form>
    <p class="error" *ngIf="loginError">{{loginError}}</p>
    <p>Don't have an account? <a color="light-blue" (click)="goToSignUp()">Sign Up</a></p>

  </div>

</ion-content>
