<ion-content padding>

  <div class="content-group">

    <img src="assets/img/Bluetooth Logo (White).png">

    <form novalidate [formGroup]="signupForm" (ngSubmit)="signup(signupForm)">

      <ion-item >
        <ion-label color="light">Email</ion-label>
        <ion-input type="text" value="" formControlName="email"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label color="light">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item class="margin-bottom">
        <ion-label color="light">Confirm Password</ion-label>
        <ion-input type="password" formControlName="password2"></ion-input>
      </ion-item>

      <button ion-button block color="light-blue" type="submit">Sign Up</button>
    </form>
    <p class="error" *ngIf="signupForm.errors">
      <span *ngIf="signupForm.errors.password_mismatch">Passwords do not match</span>
    </p>
    <p> Already have an account? <a (click)="goToLogin()">Login</a></p>

  </div>
  
  
 
</ion-content>
