<ion-content padding>

  <div class="content-group">

    <img src="assets/img/Bluetooth Logo (White).png">

    <form novalidate [formGroup]="signupForm" (ngSubmit)="signup(signupForm)">

      <ion-item >
        <ion-label fixed color="light">Email</ion-label>
        <ion-input type="text" value="" formControlName="email"></ion-input>
      </ion-item>
      <p class="error" *ngIf="signupForm.controls.email.hasError('required') && signupForm.controls.email.touched">A valid email is required</p> 

      <ion-item >
        <ion-label fixed color="light">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <p class="error" *ngIf="signupForm.controls.password.hasError('required') && signupForm.controls.password.touched">Password is required</p> 

      <ion-item fixed class="margin-bottom">
        <ion-label color="light">Confirm Password</ion-label>
        <ion-input type="password" formControlName="password2"></ion-input>
      </ion-item>
      <p class="error" *ngIf="signupForm.controls.password2.hasError('required') && signupForm.controls.password2.touched">Confirm your password</p>
      <p class="error" *ngIf="signupForm.errors && signupForm.errors.password_mismatch">Passwords do not match</p>
      
      <button ion-button block color="light-blue" type="submit"[disabled]="signingUp || !signupForm.valid">
        <span *ngIf="!signingUp">Sign Up</span>
        <span *ngIf="signingUp">Signing Up...</span>
      </button>

      <p class="error" *ngIf="signupError">{{signupError}}</p>
    </form>
    
    <p> Already have an account? <a (click)="goToLogin()">Login</a></p>

  </div>
  
  
 
</ion-content>
